@use "../global" as global;

.l-inner {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 48px 64px;

  // @include global.mq("tab") {
  //   padding-left: 24px;
  //   padding-right: 24px;
  // }

  @include global.mq("sp") {
    padding-left: 10px;
    padding-right: 10px;
  }
}