@use "../global" as global;

.p-fv {
  position: relative;

  @include global.mq("sp") {
    margin-top: 76px;
  }
}

.p-fv__picture {

}

.p-fv__title {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 545px;
  height: 140px;
  background-color: rgba(255, 255, 255, 0.7);
  // background-color: rgba(255, 255, 255, 0.3);
  padding: 12px 32px;

  @include global.mq("sp") {
    width: 90%;
  }
}

.p-fv__text {
  color: #333;
}

.p-fv__main-text {
  font-size: 40px;

}

.p-fv__sub-text {
  // font-weight: bold;
  font-size: 14px;
}