@use "../global" as global;

.p-sp-header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  padding: 12px 20px;
  background-color: global.$main-color;
  display: flex;
  justify-content: space-between;

  @include global.mq("tab") {
    display: none;
  }

  @include global.mq("pc") {
    display: none;
  }
}

.p-sp-header__logo {
  h1 {
    font-size: 32px;
  }
}

.p-sp-header__button {
  margin-top: 17px;
  width: 36px;
  height: 21px;
  position: relative;

  &.is-checked {
    .p-sp-header__bar {
      &:nth-of-type(1) {
        transform: rotate(30deg);
        top: 10px;
      }
    
      &:nth-of-type(2) {
        display: none;
      }
    
      &:nth-of-type(3) {
        transform: rotate(-30deg);
        top: 10px;
      }
    }
  }
}

.p-sp-header__bar {
  position: absolute;
  top: 0;
  right: 0;
  width: 36px;
  height: 3px;
  background-color: #333;
  border-radius: 6px;
  transition: all 0.3s;

  &:nth-of-type(1) {

  }

  &:nth-of-type(2) {
    top: 9px;
  }

  &:nth-of-type(3) {
    top: 18px;
  }
}