@use "../global" as global;

.p-skill {

}

.p-skill__inner {

}

.p-skill__contents {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 60px 44px;
  justify-content: center;

  @media screen and (min-width:768px) and ( max-width:1076px) {
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 0;
    gap: 24px;
    justify-content: space-between;
  }

  @include global.mq("sp") {
    justify-content: space-between;
  }

}

.p-skill__content {
  display: flex;
  max-width: 47%;
  gap: 24px;
  align-items: center;

  @media screen and (min-width:768px) and ( max-width:1076px) {
    max-width: 100%;
  }

  @include global.mq("sp") {
    max-width: 100%;
  }
}

.p-skill__icon {
  font-size: 60px;
  width: 60px;
}

.p-skill__text-block {
  // width: 90%;
}

.p-skill__heading {
  font-weight: bold;
}

.p-skill__text {
  // margin-top: 10px;
}

.p-skill__img {
  width: 160px;

  @media screen and (min-width:768px) and ( max-width:1076px) {
    width: 86px;
  }

  @include global.mq("sp") {
    width: 86px;
  }

  @media screen and (min-width:375px) and ( max-width:449px) {
    width: 148px;
  }

  @media screen and (max-width:375px) {
    width: 148px;
  }



  img {
    // width: 55px;
    // height: 55px;
    // height: 60px;




  }
}