@use "../global" as global;

.p-sp-nav {
  width: 320px;
  height: 100%;
  position: fixed;
  top: 78px;
  right: 0;
  z-index: 10;
  background-color: global.$main-color;
  padding: 64px 24px 10px;
  transform: translateX(100%);
  transition: transform 0.3s linear;

  @include global.mq("tab") {
    display: none;
  }

  @include global.mq("pc") {
    display: none;
  }

  &.is-checked {
    transform: translateX(0);
  }
}

.p-sp-nav__lists {

}

.p-sp-nav__list {
  text-align: center;
  margin-top: 32px;
}

.p-sp-nav__link {
  line-height: 0.1em;
}

.p-sp-nav__icon {
  font-size: 32px;
}

.p-sp-nav__text {
  font-size: 16px;
}
