@use "../global" as global;

.p-works {
  margin-top: 80px;
}

.p-works__inner {

}

.p-works__message {
  margin-top: 60px;
}

.p-works__items {
  // width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;

  @include global.mq("sp") {
    flex-direction: column;
  }
}

.p-works__item {
  // height: 760px;
  // width: 48%;
  width: 396px;
  background-color: #f2f9f9;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  padding: 24px 14px;
  border-radius: 8px;

  @include global.mq("sp") {
    width: 100%;
  }

  &:nth-child(2) {
    height: 726px;

    @include global.mq("sp") {
      height: auto;
    }
  }

  &:nth-child(4) {
    height: 899px;

    @include global.mq("sp") {
      height: auto;
    }
  }
}

.p-works__img {
  display: block;
  width: 100%;
  transition: all 0.3s;
  text-align: center;

  img {
    width: 340px;
    height: 220px;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  }

  &:hover {
    opacity: 0.7;
  }
}

.p-works__img-oha {
  img {
    // margin-top: -97px;
  }
}

.p-works__table-block {
  width: 100%;
}

.p-works__table {
  width: 100%;
}

.p-works__tr {
  // background-color: rgb(244, 241, 236);
}

.p-works__item-name {
  // width: 60px;
  white-space: nowrap;
  padding: 8px;
}

.p-works__item-detail {
  // width: 100px;
  text-align: left;
  padding: 8px;

  @include global.mq("sp") {
    font-size: 14px;
  }
}

.p-works__link-underline {
  text-decoration-line: underline;
  font-weight: bold;
  transition: all 0.3s;

  &:hover {
    opacity: 0.7;
  }
}